#imageicon {
  background-image: url(~/src/assets/img/layer.png);
}

input, textarea {
  border-radius: 10px;
}

#files{
  border-radius: 0;
}
agm-map{
  height: 300px;
}


input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
} 

