#cardsnamehere {
    background-color: rgb(247, 247, 247);
}
#Viewprofile {

    width: calc(80% - 10px);
    background-color: #2367bc;
    color: white;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 3%;
}

a:hover {
    color: blue;
}