#artical {
    background-image: url(~/src/assets/img/labtop.png);
    height: auto;
    padding: 10% 10%;

  }
button{
    background-color: #2367bc;
}

.card-title {
  font-size: 24px;
  font-family: "Open Sans";
}

.card-text{
  font-size: 18px;
}




@media only screen and (max-width: 600px) {

  .card-title {
    font-size: 16px;
  
  }
  
  .card-text{
    font-size: 10px;
  }




}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .card-title {
    font-size: 18px;
  
  }
  
  .card-text{
    font-size: 12px;
  }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .card-title {
    font-size: 20px;
  
  }
  
  .card-text{
    font-size: 14px;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  .card-title {
    font-size: 22px;
  
  }
  
  .card-text{
    font-size: 16px;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .card-title {
    font-size: 24px;
  
  }
  
  .card-text{
    font-size: 18px;
  }
  



}