#divid {

  background-image: url(~/src/assets/img/signuplogin.png);

  background-repeat: round;
}



#contentmodel222 {

  margin-top: 30%
}

.modal-content {
  border: none;
}

.modal-dialog {

  width: 100%;
  height: 10% !important;

}

.modal-header {
  height: 0;
}

.custom-class {
  position: relative;
  top: 50%;
}

a {
  margin: 2%;
}

.black {
  color: black;
  text-decoration: none;
}

.blue {
  background-color: #2367bc;
  border-color: #2367bc;
}

.green {
  background-color: #5db846;
  border-color: #5db846;

}

.red {
  background-color: #F44336;
  border-color: #F44336;
}

label{
  margin-left:2%;
}