<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="container">
    <div class="row" id="rowf">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="tg-footercolumn tg-footercolumn sp-service-about tg-widget" id="service_aboutus-3">
          <strong class="tg-logo">
            <a routerLink="/">
              <img src="assets/img/FixBiLogoFooter.png" class="logo" alt="Logo" _mstalt="44941">
            </a>
          </strong>
          <div class="tg-description mt-2">
            <p _msthash="668681" class="text-left" _msttexthash="1030185">Time sensitive service finder portal.
            </p>
          </div>
          <ul class="tg-contactinfo mt-2">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="12.335" height="17.029" viewBox="0 0 12.335 17.029">
                <g id="maps-and-flags_4_" data-name="maps-and-flags (4)" transform="translate(-70.573)">
                  <g id="Group_150" data-name="Group 150" transform="translate(70.573)">
                    <path id="Path_72" data-name="Path 72"
                      d="M76.74,0a6.174,6.174,0,0,0-6.167,6.167c0,4.22,5.519,10.416,5.754,10.678a.556.556,0,0,0,.826,0c.235-.262,5.754-6.457,5.754-10.678A6.174,6.174,0,0,0,76.74,0Zm0,9.27a3.1,3.1,0,1,1,3.1-3.1A3.106,3.106,0,0,1,76.74,9.27Z"
                      transform="translate(-70.573)" fill="#2367bc"></path>
                  </g>
                </g>
              </svg>
              <span><a href="#"  _msthash="667771" _msttexthash="746278">Kayer 8 Apt. No:3 Karakum - Kyrenia</a></span>

            </li>
            <li class="mt-1">


              <svg xmlns="http://www.w3.org/2000/svg" width="12.335" height="12.361" viewBox="0 0 12.335 12.361">
                <g id="phone-call_5_" data-name="phone-call (5)" transform="translate(-0.539)">
                  <g id="Group_151" data-name="Group 151" transform="translate(0.539 0)">
                    <path id="Path_73" data-name="Path 73"
                      d="M12.551,9.072,10.826,7.347a1.147,1.147,0,0,0-1.91.431,1.174,1.174,0,0,1-1.355.739,5.319,5.319,0,0,1-3.2-3.2A1.117,1.117,0,0,1,5.1,3.958a1.147,1.147,0,0,0,.431-1.91L3.8.323a1.23,1.23,0,0,0-1.663,0L.969,1.494c-1.171,1.232.123,4.5,3.019,7.393s6.161,4.251,7.393,3.019l1.171-1.171A1.23,1.23,0,0,0,12.551,9.072Z"
                      transform="translate(-0.539 0)" fill="#2367bc"></path>
                  </g>
                </g>
              </svg>

              <span ><a  href="tel:+90 548 888 1158" _msthash="667901" _msttexthash="116350">+90 548 888 1158</a></span>
            </li>


            <li class="mt-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="12.335" height="8.48" viewBox="0 0 12.335 8.48">
                <g id="email_4_" data-name="email (4)" transform="translate(0 -80)">
                  <g id="Group_153" data-name="Group 153" transform="translate(8.177 81.563)">
                    <g id="Group_152" data-name="Group 152">
                      <path id="Path_74" data-name="Path 74" d="M339.392,147.636l4.158,2.629V144.9Z"
                        transform="translate(-339.392 -144.896)" fill="#2367bc"></path>
                    </g>
                  </g>
                  <g id="Group_155" data-name="Group 155" transform="translate(0 81.563)">
                    <g id="Group_154" data-name="Group 154">
                      <path id="Path_75" data-name="Path 75" d="M0,144.9v5.369l4.158-2.629Z"
                        transform="translate(0 -144.896)" fill="#2367bc"></path>
                    </g>
                  </g>
                  <g id="Group_157" data-name="Group 157" transform="translate(0.023 80)">
                    <g id="Group_156" data-name="Group 156">
                      <path id="Path_76" data-name="Path 76"
                        d="M12.5,80H1.708a.761.761,0,0,0-.748.656L7.1,84.7l6.144-4.048A.761.761,0,0,0,12.5,80Z"
                        transform="translate(-0.96 -80)" fill="#2367bc"></path>
                    </g>
                  </g>
                  <g id="Group_159" data-name="Group 159" transform="translate(0.025 84.768)">
                    <g id="Group_158" data-name="Group 158">
                      <path id="Path_77" data-name="Path 77"
                        d="M8.47,277.921l-1.091.719a.387.387,0,0,1-.424,0l-1.091-.719-4.84,3.061a.76.76,0,0,0,.746.651H12.563a.76.76,0,0,0,.746-.651Z"
                        transform="translate(-1.024 -277.92)" fill="#2367bc"></path>
                    </g>
                  </g>
                </g>
              </svg>
              <span><a href="mailto:info@fixbi.co" _msthash="668031" _msttexthash="213707">info@fixbi.co</a></span>
            </li>
            <li class="mt-1">
              <svg id="barricade" xmlns="http://www.w3.org/2000/svg" width="12.335" height="9.432"
                viewBox="0 0 12.335 9.432">
                <path id="Path_78" data-name="Path 78" d="M197.763,63.2l-4.013,4.013h1.3l4.013-4.013Zm0,0"
                  transform="translate(-189.082 -61.677)" fill="#2367bc"></path>
                <path id="Path_79" data-name="Path 79"
                  d="M294.164,63.2h0l-4.013,4.013h1.3l3.638-3.639A1.324,1.324,0,0,0,294.164,63.2Zm0,0"
                  transform="translate(-283.159 -61.677)" fill="#2367bc"></path>
                <path id="Path_80" data-name="Path 80" d="M101.365,63.2l-4.013,4.013h1.3l4.013-4.013Zm0,0"
                  transform="translate(-95.007 -61.677)" fill="#2367bc"></path>
                <path id="Path_81" data-name="Path 81"
                  d="M1.329,63.2A1.331,1.331,0,0,0,0,64.528v1.355a1.324,1.324,0,0,0,.034.3l2.98-2.98Zm0,0"
                  transform="translate(0 -61.677)" fill="#2367bc"></path>
                <path id="Path_82" data-name="Path 82" d="M21.6,63.2h-1.3L16.66,66.834a1.324,1.324,0,0,0,.922.378Zm0,0"
                  transform="translate(-16.259 -61.677)" fill="#2367bc"></path>
                <path id="Path_83" data-name="Path 83"
                  d="M389.538,105.781l-2.987,2.987h1.693a1.331,1.331,0,0,0,1.329-1.329v-1.355a1.329,1.329,0,0,0-.035-.3Zm0,0"
                  transform="translate(-377.238 -103.232)" fill="#2367bc"></path>
                <path id="Path_84" data-name="Path 84"
                  d="M50.473.8a.942.942,0,0,0-1.863.007c.052,0,.1-.007.158-.007Zm0,0" transform="translate(-47.438)"
                  fill="#2367bc"></path>
                <path id="Path_85" data-name="Path 85"
                  d="M387.911.807A.942.942,0,0,0,386.047.8h1.705c.053,0,.106,0,.158.007Zm0,0"
                  transform="translate(-376.747)" fill="#2367bc"></path>
                <path id="Path_86" data-name="Path 86"
                  d="M48.2,259.457v2.82a.361.361,0,0,0,.361.361h1.161a.361.361,0,0,0,.361-.361v-2.812H48.367c-.057,0-.112,0-.168-.007Zm0,0"
                  transform="translate(-47.038 -253.206)" fill="#2367bc"></path>
                <path id="Path_87" data-name="Path 87"
                  d="M385.6,259.464v2.812a.361.361,0,0,0,.361.361h1.161a.361.361,0,0,0,.361-.361v-2.82c-.055,0-.111.007-.168.007Zm0,0"
                  transform="translate(-376.312 -253.206)" fill="#2367bc"></path>
              </svg>
              <span><a href="mailto:smartsolutions@fixbi.co" _msthash="668161"
                  _msttexthash="550953">smartsolutions@fixbi.co</a></span>
            </li>
          </ul>
          <ul class="tg-socialicons mt-2">
            <li class="tg-facebook"><a href="https://www.facebook.com/"><img src="assets/img/facebook.png" /></a></li>
            <li class="tg-twitter">
              <a href="#"><img src="assets/img/twitter.png" /></a>
            </li>
            <li class="tg-instagram">
              <a href="#"><img src="assets/img/instagram.png" /></a>
            </li>
            <li class="tg-linkedin"><a href="#"><img src="assets/img/linkedin.png" /></a></li>
            <li class="tg-googleplus"><a href="#"><img src="assets/img/googleplus.png" /></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="tg-footercolumn tg-widget tg-burfats tg-widget" id="menu2">
          <ul class="tg-widgettitle">
            <ul>
              <li>
                <h3 _msthash="1435486" _msttexthash="182195">Recent Posts</h3>
              </li>
            </ul>
          </ul>
          <ul>
            <ul>
              <li class="mt-2" *ngFor="let data of articleImage.slice(0, 3); ">
                <div class="row g-0">
                  <div class=" col-xs-12 col-sm-12 col-md-4  col-lg-4">
                    <img src="{{data.image}}" class="img-start" alt="..." style="width: 100%;border-radius: 6px; " >
                  </div>
                  <div class=" col-xs-12 col-sm-12 col-md-8 col-md-8 align-self-center">
                    <div class="card-body text-left">


                      <p class="card-text" style="padding: 1px 0px 0px 8px">
                        <font _mstmutation="1" _msthash="2587624" _msttexthash="2917707"><small _mstmutation="1">
                            <strong style="font-family:Open Sans "> {{data.title}}
                            </strong>
                          </small><br>
                          <small _mstmutation="1" class="posttext">
                            {{data.description | slice:0:50 }}

                          </small>
                        </font>
                      </p>

                    </div>
                  </div>
                </div>

              </li>


              <!-- <li>
                <div class="row g-0">
                  <div class="col-md-4 pt-4">
                    <img src="assets/img/city.png" class="img-start" alt="..." _mstalt="14352">
                  </div>
                  <div class="col-md-8 align-self-center">
                    <div class="card-body text-left">



                      <p class="card-text">
                        <font _mstmutation="1" _msthash="2588040" _msttexthash="2917707"><small _mstmutation="1">
                            <strong> Why Most Construction Fail
                            </strong>
                          </small>
                          <small _mstmutation="1"> mail@gmail.com
                            Member since: February 12, 2021
                          </small>
                        </font>
                      </p>

                    </div>
                  </div>
                </div>

              </li>
              <li>
                <div class="row g-0">
                  <div class="col-md-4 pt-4">
                    <img src="assets/img/city.png" class="img-start" alt="..." _mstalt="14352">
                  </div>
                  <div class="col-md-8 align-self-center">
                    <div class="card-body text-left">



                      <p class="card-text">
                        <font _mstmutation="1" _msthash="2588041" _msttexthash="2917707"><small _mstmutation="1">
                            <strong> Why Most Construction Fail
                            </strong>
                          </small>
                          <small _mstmutation="1"> mail@gmail.com
                            Member since: February 12, 2021
                          </small>
                        </font>
                      </p>


                    </div>
                  </div>
                </div>

              </li> -->
            </ul>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="tg-footercolumn tg-widget widget_nav_menu tg-widget" id="nav_menu-3">
          <div class="tg-widgettitle">
            <h3 _msthash="407914" _msttexthash="179426" class="text-left">Useful Links</h3>
          </div>
          <div class="menu-logged-out-container">
            <ul id="menu-logged-out-1" class="menu">
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-974 current_page_item menu-item-1365 mt-2">
                <a routerLink="/" _msthash="449293" _msttexthash="43979">Home</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1366  mt-2"><a routerLink="/about"
                  _msthash="449423" _msttexthash="60892">About</a></li>

              <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1366"><a
                  href="./terms-condition" _msthash="449423" _msttexthash="60892">Terms and Condition</a></li> -->

              <div *ngIf="!loggedIn" class="mt-4">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420">
                  <button class="btn btn-success btn-lg" id="CustomerLogin" type="button" data-bs-toggle="modal"
                    (click)="openLogInModal()" _msthash="800670" _msttexthash="229905">Customer Login</button>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420 pt-2">
                  <button class="btn btn-primary btn-lg" id="Servicelogin" type="button" data-bs-toggle="modal"
                    (click)="openLogInModal()" _msthash="800917" _msttexthash="205933">Service login </button>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-footerbar">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <span _msthash="905931" _msttexthash="2038608">© 2022 Fixbi. All Right Reserved. Powered By <a target="_blank"
              href="https://www.qtechnetworks.com/" id="QTech">QTech Networks </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>