.tg-footerbar {
  color: white;
  width: 100%;
  float: left;
  padding: 15px 0;
  font-size: 13px;
  line-height: 20px;
  background: #5DB846;
}

li {
  list-style: none;
}

.tg-widget .tg-socialicons li {
  float: left;
  width: auto;
  padding: 0 4px 4px;
  line-height: inherit;
  list-style-type: none;
}

.sp-service-about .tg-contactinfo {
  padding: 0;
}

.tg-socialicons li a i {
  color: #2367BC;
  width: 30px;
  display: block;
  font-size: 13px;
  background: white;
  border-radius: 23px;
  line-height: 30px;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: auto;
}

.tg-widget .tg-videobox {
  width: 60px;
}

.tg-widget .tg-videocontent {
  overflow: hidden;
  padding: 0 0 0 15px;
}

.tg-footerbar {
  color: white;
  width: 100%;
  float: left;
  padding: 15px 0;
  font-size: 13px;
  line-height: 20px;
  background: #5DB846;
}

footer {
  background-color: rgb(247, 247, 247);


}

svg {
  padding-right: 1%;
}

ul {
  padding-left: 0rem;
}

#nav_menu-3 {
  margin-left: 10%
}

#CustomerLogin {

  padding: 5px;
  width: calc(93% - 10px);
  background: #5DB846;
  border:  #5DB846;
}

#Servicelogin {
  padding: 5px;
  width: calc(93% - 10px);
  background-color: #2367bc;
}

#QTech {

  color: white;
}

#rowf {
  padding-top: 50px;
}