#header {
    background-image: url(~/src/assets/img/banner.png);
    height: auto;
    padding: 20% 20%;
    background-position: center;
}

#firstpabout {
    background-color: rgb(247, 247, 247);
}

#Introducingcontainer {
    background-color: #5db846;

    padding-bottom: 6%;
}

#pharandfont {
    color: white;
    font-size: 22px;
}

#customersign {
    background-color: #2367bc;
    border: none;
}

#professionalsign {
    background-color: #5db846;
    border: none;
}

li {
    list-style: none;
}

#colpart {
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 2%;
}

#partners {
    width: 70% !important;
}

.tg-background {
    background: url(~/src/assets/img/BackgroundAbout.png);
    height: auto;
    padding: 17% 11%;
    background-position: center;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .btn {
        width: 100%;
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .btn {
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    iframe {
        width: "70%";
        height: "200%";
    }

    #imagetestp {
        padding-top: 40% !important;
    }

    #pharandfont {
        text-align: left;
    }

    #colorp {
        text-align: left;
    }
    #header {
        width: 100%;
    }

    .btn {
        width: 100%;
        font-size: 12px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .btn {
        width: 50%;
        font-size: 12px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .btn {
        width: 50%;
        font-size: 12px;
        padding: 8px;
    }
}
