<app-navbar></app-navbar>
<div class="jumbotron pb-5">
    <div class="container w-75  pt-5 pb-4">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
                <h3>Search Result </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div style="display: grid;
                grid-auto-flow: column;
                ">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <select class="form-select mt-2">
                                <option value="Anton">Sort By
                                <option value="Mike">Mike
                                <option value="Peter">Peter
                                <option value="Bill">Bill
                                <option value="Carl">Carl
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <select class="form-select mt-2">
                                <option value="Anton">Order By
                                <option value="Mike">Mike
                                <option value="Peter">Peter
                                <option value="Bill">Bill
                                <option value="Carl">Carl
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <select class="form-select mt-2">
                                <option value="Anton">Post By
                                <option value="Mike">Mike
                                <option value="Peter">Peter
                                <option value="Bill">Bill
                                <option value="Carl">Carl
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container w-75 pt-5 pb-5" id="containersearchpage">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row pt-2">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mt-3">
                    <div class="main">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" formControlName="keyword" [(ngModel)]="searchBox.keyword"
                                class="form-control" placeholder="Keywords">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3  mt-3">
                    <ngx-select-dropdown [instanceId]="'instance3'" (change)="searchCountry($event)" [multiple]="false"
                        formControlName="country" [(ngModel)]="searchBox.country" [config]="config3"
                        [options]="countries" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                    </ngx-select-dropdown>
                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">Country is required
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3  mt-3">
                    <ngx-select-dropdown [instanceId]="'instance4'" (change)="searchcity($event)" [multiple]="true"
                        formControlName="city" [(ngModel)]="searchBox.city" [config]="config4" [options]="city"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    </ngx-select-dropdown>
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3  mt-3">
                    <ngx-select-dropdown [instanceId]="'instance5'" [multiple]="true" formControlName="region"
                        [(ngModel)]="searchBox.region" [config]="config5" [options]="region"
                        [ngClass]="{ 'is-invalid': submitted && f.region.errors }">
                    </ngx-select-dropdown>
                    <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                        <div *ngIf="f.region.errors.required">Region is required
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-3 ">
                    <ngx-select-dropdown [instanceId]="'instance1'" (change)="searchChange($event)" [multiple]="false"
                        formControlName="category" [(ngModel)]="searchBox.category" [config]="config1"
                        [options]="categories" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                    </ngx-select-dropdown>

                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Category is required
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4  mt-3 ">
                    <ngx-select-dropdown [instanceId]="'instance2'" (change)="searchChange1($event)" [multiple]="true"
                        formControlName="subCategory" [(ngModel)]="searchBox.sub_category" [config]="config2"
                        [options]="sub_categories" [ngClass]="{ 'is-invalid': submitted && f.subCategory.errors }">
                    </ngx-select-dropdown>
                    <div *ngIf="submitted && f.subCategory.errors" class="invalid-feedback">
                        <div *ngIf="f.subCategory.errors.required">Sub Category is required
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4  mt-3">
                    <button class="btn btn-primary " type="submit" id="search">Search</button>
                </div>



            </div>
        </form>
    </div>
    <div class="container w-75 justify-content-center pt-2">
        <div class="row pt-5" *ngIf="random == 0">
            <div class="col-xs-8 col-sm-12 mt-2 text-center ">
                <h5>No Results Found.Search service providers as per your requirements.</h5>.
            </div>
        </div>
    </div>
    <div class="container w-75 justify-content-center pt-2">
        <div class="row pt-5" id="scroll7" *ngIf="searchResult.length > 0">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <ul>
                    <li *ngFor="let result of searchResult" id="liborderleft">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-2">
                                <div class=" mb-3" id="mb-3width">
                                    <div class="row g-0">
                                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile"
                                            (click)="viewProfile(result)">
                                            <img *ngIf="result.profile_picture"
                                                [src]="config.imgUrl + result.profile_picture"
                                                class="img-fluid rounded-start" alt="...">
                                            <img *ngIf="!result.profile_picture" src="assets/img/download.png"
                                                class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class=" col-xs-12 col-sm-12  col-md-8 col-lg-4">
                                            <div class="card-body">
                                                <h5 class="card-title" *ngIf="result.company_name">
                                                    {{result.company_name}}</h5>
                                                <h5 class="card-title" *ngIf="result.first_name">{{result.first_name}}
                                                    {{result.last_name}}</h5>
                                                <strong *ngFor="let cat of result.category; index as i">{{cat.name}} <b
                                                        *ngIf="result.category.length != i + 1">|</b></strong><br />
                                                <strong
                                                    *ngFor="let sub_cat of result.sub_category; index as a">{{sub_cat.name}}
                                                    <b *ngIf="result.sub_category.length != a + 1">| </b></strong>
                                                <p class="card-text">{{result.email}}</p>
                                                <p class="card-text">{{result.phone}}</p>
                                                <p class="card-text">
                                                <div class="small-ratings">
                                                    <ng-template #t let-fill="fill">
                                                        <span class="star" [class.full]="fill === 100">
                                                            <span class="half"
                                                                [style.width.%]="fill">&#9733;</span>&#9733;
                                                        </span>
                                                    </ng-template>

                                                    <ngb-rating [(rate)]="result.reviews_rating" [starTemplate]="t"
                                                        [readonly]="true" [max]="5"></ngb-rating>
                                                </div>
                                                <!-- <p class="card-text" *ngIf="result.last_review.length > 0"> {{result.last_review[0].reviews_text}}
                                                </p> -->
                                                <p class="card-text" *ngIf="result.portfolio">
                                                    <a [href]="config.imgUrl + result.portfolio" id="pdf_link"
                                                        class="btn btn-outline-success" target="_blank">
                                                        <img src="assets/img/pdf.png"> Portfolio.pdf</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-6 ">
                                <ul id="menu-logged-out-1" class="menu" style="padding: 0 !important;">
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420 text-left">
                                        <button class="btn btn-primary" id="butcommonpageuser" type="button">
                                            <img src="assets/img/phone-call.png" /> Make a call
                                        </button>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420 pt-1 text-left">

                                        <button class="btn btn-success mt-1" id="butcommonpageuser" type="button"> <img
                                                src="assets/img/whatsapp.png" /> Message </button>

                                    </li>
                                    <li class="mt-5 " *ngIf="result.opening_time && result.closing_time">
                                        {{result.opening_time}} - {{result.closing_time}}

                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h1 class="display-6 text-center pt-5 fw-bold">Or Describe your work</h1>
    <div class="container w-50  pt-3">
        <textarea class="form-control" placeholder="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="pt-3">
            <button type="button" class="btn btn-success btn-lg btn-block form-control">Get Offer</button>

        </div>
    </div>
</div>
<app-footer></app-footer>