.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: black;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: black;
}
.btn-outline-success:hover {
  background-color: unset !important;
  border-color: unset !important;
}
.form-select {
  border-radius: 10px;
}
#searchpostion {
  margin-top: 0px !important;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
#searchSearchpage {
  width: calc(100% - 10px);
}
#containersearchpage {
  border: 1px solid #707070;
  border-radius: 10px;
}

// #scroll7 {

//   height: 52rem;
//   overflow-y: scroll;
// }

#pdfoutline {
  color: #2367bc !important;
}

li {
  list-style: none;
}
#butcommonpageuser {
  padding: 5px;
  // width: calc(50% - 10px);
  width: 50%;
}
.btn-primary {
  color: #fff;
  background-color: #2367bc;
  border-color: #2367bc;
}
.btn-success {
  color: #fff;
  background-color: #5db846;
  border-color: #5db846;
}
button#search {
  // padding: 5px;
  width: 100%;
  border-radius: 10px;
  background-color: #2367bc;
  // margin-right: 1%;
  // margin-top: 1%;
}

.profile img {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 600px) {
  #butcommonpageuser {
    padding: 5px;
    width: 100%;
  }

  .profile img {
    width: 200px;
    height: 200px;
  }

  .card-title {
    margin-top: 10px;
    font-size: 15px;
  }
  strong {
    font-size: 14px;
  }
  .card-text {
    font-size: 13px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #butcommonpageuser {
    padding: 5px;
    width: 100%;
  }

  .profile img {
    width: 190px;
    height: 190px;
  }


  .card-title {
  
    font-size: 16px;
  }
  strong {
    font-size: 15px;
  }
  .card-text {
    font-size: 14px;
  }




}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #butcommonpageuser {
    padding: 5px;
    width: 100%;
  }

  .profile img {
    width: 100px;
    height: 100px;
  }

  .card-title {
    
    font-size: 17px;
  }
  strong {
    font-size: 16px;
  }
  .card-text {
    font-size: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #butcommonpageuser {
    padding: 5px;
    width: 100%;
  }
  .profile img {
    width: 130px;
    height: 130px;
  }

  .card-title {
   
    font-size: 18px;
  }
  strong {
    font-size: 17px;
  }
  .card-text {
    font-size: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #butcommonpageuser {
    width: 100%;
    
  }
  .profile img {
    width: 160px;
    height: 160px;
  }

  .card-title {
  
    font-size: 19px;
  }
  strong {
    font-size: 18px;
  }
  .card-text {
    font-size: 17px;
  }
}
