#imageicon {
    background-image: url(~/src/assets/img/layer.png);
  }
  .btn-circle.btn-xl {
    width: 57px;
    height: 57px;
    padding: 18px 18px;
    border-radius: 60px;
    font-size: 15px;
    background-color: #DCDCDC;
    border: unset;
}
agm-map{
  height: 300px;
}