#totaljobs {
    background-color: #5955C9;
    color: white;
}
#totalreview {
    background-color: #55C988;
    color: white;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 22.333333% !important;
  }

@media screen and (max-width: 768px) {

    .btn-lg,
    .btn-group-lg>.btn {
        width: 49% !important;
        font-size: 15px;
        padding: 0.5rem 0.5rem;
        font-size: 10px;
        border-radius: 0.3rem;
    }
}