/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~ngx-toastr/toastr';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    .snack-danger {
    background:#DC3545;
    color: white;
  } 
  .snack-success {
    background:#00B74A;
    color: white;
  } 
}
