/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~ngx-toastr/toastr';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';


html, body { height: 100%; }
body { margin: 0;  font-family: 'Open Sans', sans-serif;
    .snack-danger {
    background:#DC3545;
    color: white;
  } 
  .snack-success {
    background:#00B74A;
    color: white;
  } 
  .carousel-indicators{
    bottom:3rem !important
  }
  @media only screen and (max-width: 600px) {
    .carousel-indicators{
      bottom:0 !important
    }
  }
  @media only screen and (min-width: 600px) {
    .carousel-indicators{
      bottom:1rem !important
    }
  }
  @media only screen and (min-width: 768px) {
    .carousel-indicators{
      bottom:1rem !important
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .carousel-indicators{
      bottom:2rem !important
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .carousel-indicators{
      bottom:3rem !important
    }
  }
}
