<app-navbar></app-navbar>
<div class="jumbotron pb-5">
    <div class="container w-100 justify-content-center ">
        <div class="row pt-3">
            <div class="col-xs-8 col-sm-4 mt-4">
                <app-user-profile-card></app-user-profile-card>
            </div>
            <div class="col-xs-8 col-sm-8 mt-4">
                <div class="mb-3">
                    <h5> Favourites</h5>
                </div>
                <div class="mb-3">
                    <div class="row pt-5" *ngIf="random == 0">
                        <div class="col-xs-8 col-sm-12 mt-2 text-center ">
                            <h5>No Favourites Found.</h5>.
                        </div>
                    </div>
                    <div class="row" *ngIf="searchResult.length > 0">

                        <div class="col-12">
                            <div class="row g-0">
                                <ul id="scroll2">
                                    <li *ngFor="let result of searchResult" id="liborderleft">
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-6 mt-2">
                                                <div class=" mb-3" id="mb-3width">
                                                    <div class="row g-0">
                                                        <div class="col-md-4" (click)="viewProfile(result)">
                                                            <img style="width:100px; height:100px;"
                                                                *ngIf="result.profile_picture"
                                                                [src]="config.imgUrl + result.profile_picture"
                                                                class="img-fluid rounded-start" alt="...">
                                                            <img style="width:100px; height:100px;"
                                                                *ngIf="!result.profile_picture"
                                                                src="assets/img/download.png"
                                                                class="img-fluid rounded-start" alt="...">
                                                        </div>
                                                        <div class="col-md-8 p-3">
                                                            <div class="card-body">
                                                                <h5 class="card-title" *ngIf="result.company_name">
                                                                    {{result.company_name}}</h5>
                                                                <h5 class="card-title" *ngIf="result.first_name">
                                                                    {{result.first_name}}
                                                                    {{result.last_name}}</h5>
                                                                <strong
                                                                    *ngFor="let cat of result.category; index as i">{{cat.name}}
                                                                    <b
                                                                        *ngIf="result.category.length != i + 1">|</b></strong><br />
                                                                <strong
                                                                    *ngFor="let sub_cat of result.sub_category; index as a">{{sub_cat.name}}
                                                                    <b *ngIf="result.sub_category.length != a + 1">|
                                                                    </b></strong>
                                                                <p class="card-text">{{result.email}}</p>
                                                                <p class="card-text">{{result.phone}}</p>
                                                                <p class="card-text">
                                                                <div class="small-ratings">
                                                                    <i class="fa fa-star rating-color"></i>
                                                                    <i class="fa fa-star rating-color"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <p class="card-text"> Lorem Ipsum is simply dummy text
                                                                    of the printing
                                                                    and typesetting
                                                                    industry.
                                                                </p>
                                                                <p class="card-text" *ngIf="result.portfolio">
                                                                    <a [href]="config.imgUrl + result.portfolio"
                                                                        id="pdf_link" class="btn btn-outline-success"
                                                                        target="_blank">
                                                                        <img src="assets/img/pdf.png"> Portfolio.pdf</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-4 mt-6 align-self-center">
                                                <ul id="menu-logged-out-1" class="menu">
                                                    <li
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420 text-left">
                                                        <button class="btn btn-primary" id="butcommonpageuser"
                                                            type="button">
                                                            <a href="{{'tel:'+ result.phone}}"
                                                                style="color:white;text-decoration:none">
                                                                <img src="assets/img/phone-call.png" /> Make a call
                                                            </a>
                                                        </button>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420 pt-1 text-left">
                                                       
                                                        <a href="{{'https://wa.me/'+ result.phone}}"
                                                        style="color:white;text-decoration:none">
                                                        <button class="btn btn-success" id="butcommonpageuser"
                                                            type="button"> <img src="assets/img/whatsapp.png" /> Message
                                                        </button>
                                                        </a>
                                                    </li>
                                                    <li class="mt-5 text-left"
                                                        *ngIf="result.opening_time && result.closing_time">
                                                        {{result.opening_time}} - {{result.closing_time}}

                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>